@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: black;

}
.spotlight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}
.spotlight .img{
  position: relative;
  overflow-x: hidden;
  z-index: 10;
  height: 0px;
}


.spotlight .svg-path {
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
}
.spotlight .svg-path svg {
  width: 100%;
  height: auto;
  
}

 .model-3d {
  width: 100%;
  height: 100vh;
  padding: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-3d > div {
  width: 60%;
  height: 60%;
}

.go-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: #03A9D1;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.go-to-top:hover {
  background: #028bb5;
}
